# Django / App
APP_BASE_URL=http://127.0.0.1:8000
DEFAULT_FROM_EMAIL=no-reply@nagoyameshi.local
EMAIL_CHANGE_TOKEN_MAX_AGE=86400

# Stripe
# 例: sk_test_xxx
STRIPE_SECRET_KEY=
# 例: price_xxx
STRIPE_PRICE_ID=
# stripe listen --print-secret で取得 (whsec_xxx)
STRIPE_WEBHOOK_SECRET=
