{% extends "restaurants/base.html" %}
{% block title %}パスワード変更 | NAGOYAMESHI{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-7 col-lg-5">
    <div class="card border-0 shadow-sm">
      <div class="card-body p-4">
        <h2 class="h4 mb-3">パスワード変更</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-dark w-100" type="submit">変更する</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
